.DS_Store
*/Release
*.o
build
docs
*.mode1v3
*.mode2v3
*.pbxuser
*.tm_build_errors
*.perspectivev3
xcuserdata
project.xcworkspace
Resources/data-geo
Gemfile.lock
.idea
Resources/Suggest/output
Resources/data-categories
Resources/data-geo
Frank/frankified_build
Frank/lib/xcode_environment.yml
Pods
YandexMaps.xcworkspace/xcshareddata/
Podfile.lock
