PREBUILD_SCRIPT=yxbuildkit-prebuild.sh
POSTBUILD_SCRIPT=yxbuildkit-postbuild.sh
IPA_TITLE="YMK Sample"
IPA_FILE=yamapkit-iphoneos.ipa
CODE_SIGN_IDENTITY_AdHoc="iPhone Distribution: Yandex LLC"
CODE_SIGN_IDENTITY_AppStore="iPhone Distribution: Yandex, LLC"
APP_VERSION=100
YX_BUILD_KIT_DISABLE_VCS_TAG=1
