# PREBUILD_SCRIPT is the script that will be invoked right before
# 01-setup-build-number.sh. Optional parameter.
#
# Path is relative to repository checkout directory
#
PREBUILD_SCRIPT=yxbuildkit-prebuild.sh

# POSTBUILD_SCRIPT is the script that will be invoked after
# 05-publish-build-artefact-$(CONFIGURATION).sh. Optional parameter.
#
# Path is relative to repository checkout directory
#
POSTBUILD_SCRIPT=yxbuildkit-postbuild.sh

# OTA distribution parameters. IPA_TITLE is the value that will be written
# to OTA manifest file during the download. Required parameter.
#
IPA_TITLE="ЯМапКит"

# beta.md.ya.ru uses specific IPA file name for each supported project
# You can obtain this parameter by asking smoroz@ to support your shiny
# product. Required parameter.
#
IPA_FILE=yamapkit-iphoneos.ipa

# Code signing identities for different build configurations. Required parameter
#
CODE_SIGN_IDENTITY_AdHoc="iPhone Distribution: Yandex LLC"
CODE_SIGN_IDENTITY_AppStore="iPhone Distribution: Yandex, LLC"

# beta.md.ya.ru treats normal versions like integer values. For example,
# application version 4.2.1 should be converted to 421, 3.3 -> 330. This
# value will be written to CFBundleShortVersionString of your target's
# Info.plist file. Required parameter.
#
APP_VERSION=100

# After building for AppStore settings this flag to 1 means resiging AppStore build
# by our enterprise AdHoc profile and publish it at root branch at beta.md.ya.ru
# RESIGN_APPSTORE_BUILD_FOR_ADHOC_TESTING=1

# Path to AdHoc mobileprovision file. Our custom PackageApplication utility
# uses it to resign AppStore build with AdHoc provisioning profile and
# code signing identity. Used only when RESIGN_APPSTORE_BUILD_FOR_ADHOC_TESTING
# is set.
#
# MOBILEPROVISION="Resources/Generic Yandex In House Profile.mobileprovision"